# Server Config
server:
  port: ${cfg.serverPort}

# Spring Config
spring:
  profiles:
    active: @profiles.active@
  datasource:
    driver-class-name: ${cfg.dbDriver}
    url: ${cfg.dbUrl}
    username: ${cfg.dbUsername}
    password: ${cfg.dbPassword}

# swagger
swagger:
  enable: true
