# Server Config
server:
  port: ${cfg.serverPort}

# Spring Config
spring:
  profiles:
    active: @profiles.active@
#if(${cfg.jsonEnable})
  jackson:
    time-zone: ${cfg.jsonTimezone}
    date-format: ${cfg.jsonDateFormat}
#end

  datasource:
    driver-class-name: ${cfg.dbDriver}
    url: ${cfg.dbUrl}
    username: ${cfg.dbUsername}
    password: ${cfg.dbPassword}

# swagger
swagger:
  enable: true

# mybatis-plus configuration
mybatis-plus:
  mapper-locations: classpath:/mapper/*.xml
  configuration:
    cache-enabled: false