package ${cfg.basePackagePath};

import org.springframework.boot.SpringApplication;
import org.springframework.boot.autoconfigure.SpringBootApplication;
import org.springframework.context.annotation.ComponentScan;
import org.springframework.transaction.annotation.EnableTransactionManagement;

/**
 * Application
 *
 * @Author ${author}
 * @Date ${date}
 */
@SpringBootApplication
@EnableTransactionManagement
@ComponentScan({"${cfg.basePackagePath}.*", "${cfg.commonUtilPath}.exception.handler"})
public class ${cfg.ApplicationName} {

    public static void main(String[] args) {
        SpringApplication.run(${cfg.ApplicationName}.class, args);
    }

}
