package ${cfg.basePackagePath}.${cfg.configPackagePath};

import ${cfg.commonUtilPath}.swagger.BaseSwaggerConfig;
import org.springframework.beans.factory.annotation.Value;
import org.springframework.context.annotation.Bean;
import org.springframework.context.annotation.Configuration;
import springfox.documentation.spring.web.plugins.Docket;
import springfox.documentation.swagger2.annotations.EnableSwagger2;

/**
 * Swagger 配置
 *
 * @Author ${author}
 * @Date ${date}
 */
@Configuration
@EnableSwagger2
public class SwaggerConfig {
    @Value("${swagger.enable}")
    private boolean isSwaggerEnable;

    @Bean
    public Docket buildSwagger() {
        return BaseSwaggerConfig.buildDocketWithExcludePaths(isSwaggerEnable, "${cfg.swaggerProjectName}",
                "${cfg.swaggerVersion}", "${cfg.swaggerDescription}", "/error");
    }
}