package ${cfg.basePackagePath}.${cfg.exceptionHandlerPackagePath};

import ${cfg.commonUtilPath}.entity.HttpResponseEntity;
import ${cfg.commonUtilPath}.exception.handler.ExceptionHandlerContext;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.ControllerAdvice;
import org.springframework.web.bind.annotation.ExceptionHandler;
import org.springframework.web.bind.annotation.ResponseBody;

/**
 * This is a Global Exception Handler.
 * This handler fit to the REST API response, and
 * the response header is setted to Content-Type: application/json;charset=UTF-8
 * if you want to change the header, see {@link ExceptionHandlerContext}
 *
 * @Author ${author}
 * @Date ${date}
 */
@ControllerAdvice
public class GlobalExceptionHandler {

    @Autowired
    private ExceptionHandlerContext exceptionHandlerContext;

    /**
     * Global Exception handler
     * @param exception
     * @return {@link ResultEntity}
     */
    @ExceptionHandler(Exception.class)
    @ResponseBody
    public HttpResponseEntity exceptionHandler(Exception exception) {
        return exceptionHandlerContext.handle(exception);
    }
}
