package ${package.ServiceImpl};

import ${cfg.commonUtilPath}.util.BeanUtil;
import ${cfg.basePackagePath}.${cfg.requestPackagePath}.${entity}Req;
import ${cfg.basePackagePath}.${cfg.requestPackagePath}.${entity}PageReq;
import ${package.Entity}.${entity};
import ${package.Mapper}.${table.mapperName};
import ${package.Service}.${table.serviceName};
import ${superServiceImplClassPackage};
import com.github.pagehelper.PageHelper;
import com.github.pagehelper.PageInfo;
import org.springframework.stereotype.Service;

/**
 * $!{table.comment} 业务逻辑实现类
 *
 * @Author ${author}
 * @Date ${date}
 */
@Service
#if(${kotlin})
open class ${table.serviceImplName} : ${superServiceImplClass}<${table.mapperName}, ${entity}>(), ${table.serviceName} {

}
#else
public class ${table.serviceImplName} extends ${superServiceImplClass}<${table.mapperName}, ${entity}> implements ${table.serviceName} {

    @Override
    public PageInfo<${entity}> getPageList(${entity}PageReq pageRequest) {
        // TODO logical handling
        return PageHelper.startPage(pageRequest.getPageNum(), pageRequest.getPageSize())
                .doSelectPageInfo(() -> this.list());
    }

    @Override
    public boolean create(${entity}Req request) {
        // TODO logical handling
        return this.save(BeanUtil.copyBean(request, ${entity}.class));
    }

    @Override
    public boolean deleteOne(Long id) {
        // TODO logical handling
        return this.removeById(id);
    }
}
#end
